.apos-dialog-box {
  padding: 30px 70px 60px 70px;
  font-size: 14px;
  position: relative;
  top: 100px;
  width: 70%;
  max-width: 1024px;
  background: white;
  margin: 0 auto;

  & h3 {
    text-align: center;
    text-align: center;
    padding-bottom: 10px;
    font-size: 20px;
  }

  &-blackout {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    overflow: auto;
    outline: 0;
    background: #3e71e2;
  }
}
